node_modules
dist
dist-ssr
*.local
.DS_Store

# Python / 后端
__pycache__/
*.py[cod]
.env
*.db
*.sqlite
*.sqlite3
.venv/
venv/

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
_dump.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
